![title](Header__0009_1.png "Header")
___
# Chapter 1 - Data Munging Basics
## Segment 1 - Filtering and selecting data

In [2]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

### Selecting and retrieving data

In [5]:
series_obj = Series(np.arange(8), index = ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])

In [6]:
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [8]:
# Get first row
series_obj['row 1']

0

In [11]:
# Can also get first row using index
series_obj[0]

0

In [17]:
np.random.seed(25)

# Create a dataframe from random numbers
df_obj = DataFrame(np.random.rand(36).reshape(6,6), index = ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6']
                   , columns = ['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])

df_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

### Data slicing

In [47]:
# A row can be accessed using the .loc method - returns a series object
df_obj.loc['row 1']

column 1    0.870124
column 2    0.582277
column 3    0.278839
column 4    0.185911
column 5    0.411100
column 6    0.117376
Name: row 1, dtype: float64

In [49]:
# Multiple rows can be accessed using a nested list - returns DataFrame
df_obj.loc[['row 1', 'row 2']]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041

In [56]:
# Multiple rows and specific columns can be accessed using two nested lists
df_obj.loc[['row 2', 'row 4'],['column 2', 'column 5']]

       column 2  column 5
row 2  0.437611  0.402366
row 4  0.836375  0.383048

In [33]:
# Can access a column by referencing it as an index
df_obj['column 1']

row 1    0.870124
row 2    0.684969
row 3    0.447031
row 4    0.366395
row 5    0.514244
row 6    0.281701
Name: column 1, dtype: float64

In [57]:
# Can access a multiple columns using a nested list
df_obj[['column 1', 'column 6']]

       column 1  column 6
row 1  0.870124  0.117376
row 2  0.684969  0.113041
row 3  0.447031  0.699186
row 4  0.366395  0.997541
row 5  0.514244  0.436935
row 6  0.281701  0.525819

### Comparing with scalars

### Filtering with scalars

### Setting values with scalars